<div class="details-container">
    <h2>User Details</h2>
    <div class="details-section">
      <h3>UserID:</h3>
      <p>{{ ToDoItem.userId }}</p>
    </div>
    <div class="details-section">
      <h3>Title:</h3>
      <p>{{ ToDoItem.title }}</p>
    </div>
    <div class="details-section">
      <h3>Completed:</h3>
      <p>
        <span *ngIf="ToDoItem.completed" class="success">&#128522; Completed</span>
        <span *ngIf="!ToDoItem.completed" class="failure">&#128532; Not Completed</span>
      </p>
    </div>
  </div>